// Font weights
$fw-regular: normal;
$fw-medium: 500;
$fw-black: 900;

// Font sizes
$fs-base: 16px;
$fs-xs: 14px;
$fs-sm: 18px;
$fs-md: 24px;
$fs-lg: 32px;

// Line heights
$lh-normal: normal;
$lh-xs: 1.14;
$lh-sm: 1.25;
$lh-md: 1.33;
$lh-lg: 1.5;
