// Global colors
$color-white: #ffffff;
$color-light: #fafdff;
$color-dark: #1a2228;
$color-grey: #4f616f;
$color-dark-grey: #495f6e;
$color-primary: #0d99ff;
$color-secondary: rgba(
    $color: #0d99ff,
    $alpha: 20%,
);
$color-danger: #ff0d11;
$color-transparent: transparent;
